<div class='card col-6'>
  <div class="card-block">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :zip, "Zip Code" %>
        <%= f.text_field :zip, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Create a password" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Minimum 6 characters" %>
      </div>
      <%= f.submit (@user.new_record? ? "Register" : "Update Profile"), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
